Body{
    background-image: linear-gradient(rgb(243, 140, 157),Pink);
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style-type: none;
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(243, 140, 157) 50%,Pink);
    position: sticky;
    top: 0px;
}
#navbar{
    display: flex;
    justify-content: space-around;
}
#about{
     & ul{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    & h2{
        text-align: center;
    }
    padding: 50px;
    height: 500px;
}
#projects{
    height: 500px;
}
header h1{
    text-align: center;
}

h1, h2, h4 {
    font-family:"Matemasie", sans-serif ;
}